@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --dred: hsl(0, 36%, 70%);
    --sred: hsl(0, 93%, 68%);
    --gred: hsl(0, 6%, 24%);
    --gr1: hsl(0, 0%, 100%);
    --gr2: hsl(0,100%, 98%);
    --gr3:  hsl(0, 80%, 86%); 
    --gr4: hsl(0, 74%, 74%);

    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    border: 1px dashed orange;
}

body {
    min-height: 100vh;
    display: grid;
    
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% auto;
    grid-template-areas:    "logo image"
                            "text image";

    font-family: 'Josefin Sans', sans-serif;
}

.logo {
    grid-area: logo;
}

.text {
    grid-area: text;
}

.image {
    grid-area: image;
}
/* - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
/*  
     */